<!DOCTYPE html>
<html>
<head>
  <title>Acct</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to"home", root_path %>



<%unless user_signed_in? %>
<%= link_to"rigister", new_user_registration_path%>
<%= link_to"signed in",new_user_session_path %>



<%else%>
HI <%= current_user.email %>
<%= link_to"log out", destroy_user_session_path, method:'delete'%>
<%= link_to"dashboard", dashboard_path %>
<% end %>
<%= yield %>

</body>
</html>
