<p id="notice"><%= notice %></p>

<p>
  <strong>花費種類</strong>
  <%= @account.expense %>
</p>

<p>
  <strong>金額</strong>
  <%= @account.money %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
